
@{
    ViewBag.Title = "ForgotPassword";
}



@using (Html.BeginForm())
{






    <div class="row mx-0">
        <div class="center_body col-sm-10 offset-sm-2" style="margin-top:125px;">
            <div class="card w-75">
                <div class="card">
                    <h5 class="card-header">Forgot Password</h5>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Please enter your email address to recover your password</label>
                            @Html.TextBox("EmailID", "", new { @class = "form-control", @placeholder = "Enter a valid email address" })
                        </div>
                        <div class="form-group">
                            <div style="display:flex;justify-content:space-between;">
                                <input type="submit" value="Submit" class="btn btn-II " />
                            </div>
                        </div>


                        <div class="text-success">
                            @ViewBag.Message
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
}