table, td, th {
	border: 1px solid #ddd;
	text-align: left;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	padding: 15px;
}
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
	height: 800px
}

/* Set gray background color and 100% height */
.sidenav {
	background-color: #fafafa;
	height: 100%;
}

/* Set black background color, white text and some padding */
/* footer {
      background-color: #555;
      color: white;
      padding: 15px;
    } */

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}

	.row.content {
		height: auto;
	}
}

.hell {
	float: right;
}

hr {
	display: block;
	border-style: inset;
	border-width: 1px;
	margin: 0.5em auto;
}

.h12 {
	text-align: center;
	font: bold 80px Sans-Serif;
	padding: 40px 0;
}

.simple {
	background: #91877b;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

.jumbotron {
	margin-top: 15px;
	margin-bottom: 0px;
	height: 255px;
	color: white;
	text-shadow: black 0.3em 0.3em 0.3em;
	background: transparent;
	background-image: url(images/Homepage.png);
	letter-spacing: 6px;
	font-size: 0.9em;
	text-align: center;
	font: bold 80px Sans-Serif;
	padding: 40px 0;
	background-repeat: no-repeat;
	background-size: cover;

}

.glow {
	color: #444;
	text-shadow: 1px 0px 1px #ccc, 0px 1px 1px #eee, 2px 1px 1px #ccc, 1px 2px 1px #eee, 3px 2px 1px #ccc, 2px 3px 1px #eee, 4px 3px 1px #ccc, 3px 4px 1px #eee, 5px 4px 1px #ccc, 4px 5px 1px #eee, 6px 5px 1px #ccc, 5px 6px 1px #eee, 7px 6px 1px #ccc;
}

.h32 {
	text-align: center;
	padding: 10px 0;
	color: #fff;
	font: italic bold 25px 'Open Sans';
}

.h42 {
	font-family: 'Open Sans';
	color: #fff;
}

/* .background {
  background: url("Images/homepage.jpg") repeat;
   border: 0.5px solid black; 
}  */

div.transbox {
	margin: 30px;
	opacity: 0.6;
	filter: alpha(opacity=60); /* For IE8 and earlier */
}

	div.transbox p {
		margin: 10%;
		font-weight: bold;
		color: white;
	}

.button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-top: 15px;
	height: 50px;
	font-family: "Times New Roman", Times, serif;
}

.button1 {
	background-color: white;
	color: black;
	border: 2px solid #4CAF50; /* Green */
}

.button2 {
	background-color: #008CBA;
	color: white;
	border: 1px solid #008CBA;
}

.button3 {
	background-color: white;
	color: orange;
	border: 1px solid #f44336;
}

.button4 {
	background-color: white;
	color: black;
	border: 2px solid #e7e7e7;
}

.button5 {
	background-color: white;
	color: black;
	border: 2px solid #555555;
}

select {
	width: 50%;
	border: none;
	border-radius: 4px;
	background-color: #f1f1f1;
}

.down1 {
	margin-top: 5px;
}

.fa {
	padding: 20px;
	font-size: 30px;
	width: 100px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
	margin-right: 5px;
	margin-left: 5px;
}

	.fa:hover {
		opacity: 0.7;
	}

.fa-facebook {
	background: #3B5998;
	color: white;
	margin-right: 5px;
	margin-left: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
	margin-right: 5px;
	margin-left: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.fa-google {
	background: #dd4b39;
	color: white;
	margin-right: 5px;
	margin-left: 5px;
}

.padd {
	padding-left: 20px;
	padding-right: 30px;
	margin-left: 20px;
	margin-right: 30px;
}

.fa-linkedin {
	background: #007bb5;
	color: white;
	margin-right: 5px;
	margin-left: 5px;
}


/*search box css start here*/
/*.search-slt {
	display: block;
	width: 100%;
	font-size: 0.875rem;
	line-height: 1.5;
	color: #55595c;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	height: calc(3rem + 2px) !important;
	border-radius: 0;
}*/

.wrn-btn {
	width: 100%;
	font-size: 25px;
	font-weight: 400;
	text-transform: capitalize;
	height: calc(3rem + 2px) !important;
	border-radius: 1px;
}

@media (min-width: 992px) {
	.search-sec {
		position: absolute;
		top: 27rem;
		width: 72rem;
		height: 9rem;
		background-color: rgba(0, 0, 0, 0.6);
		margin-left: 40rem;
		margin-top: 1rem;
		padding-top: 3rem;
	}
}

@media (max-width: 992px) {
	.search-sec {
		background: #1A4668;
	}
}

.btn-outline-secondary {
	display: block;
	width: 10rem;
	height: 40px;
	border: 1px solid #f16722;
	border-radius: 4px;
	color: #f16722;
	background-color: #fff
}

.btn-II {
	display: block;
	width: 10rem;
	height: 40px;
	/* border-radius:2rem; */
	background-color: #313366;
	color: #fff;
}

.btn-primary {
	background-color: #313366;
}

.navbar-nav {
	padding-top: 3rem;
}

.footer {
	/* position: fixed; */
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
	background-color: #25316d;
	padding: 30px 60px;
 }



