

@{
	ViewBag.Title = "Upload Document";
	Layout = "~/Views/Shared/ProfileLayout.cshtml";
}




<img src="~/Content/images/UserInterface.png" class="img-fluid topbanner mb-4" alt="user Interface">
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3" style="background-color: #fafafa;">
			<ul class="nav flex-column">
				<li class="nav-item border-bottom">
					@*<a class="nav-link active text-dark" href="#"><i class="fas fa-user mr-1"></i>My Profile</a>*@ <a href="@Url.Action("ApplicantProfilePage", "Applicants")" class="nav-link text-dark"><i class="fas fa-user mr-1"></i>My Profile</a>
				</li>
				<li class="nav-item border-bottom">
					<a class="nav-link text-dark" href="#"><i class="fas fa-file-alt mr-1"></i>My Resume</a>
				</li>
				<li class="nav-item border-bottom">
					<a class="nav-link text-dark" href="#"><i class="fas fa-clipboard mr-1"></i>Applied Jobs</a>
				</li>
				<li class="nav-item border-bottom">
					<a class="nav-link text-dark" href="#"><i class="fas fa-bookmark mr-1"></i>Shortlisted Jobs</a>
				</li>
				<li class="nav-item  border-bottom">
					@*<a class="nav-link text-dark" href="#"><i class="fas fa-lock mr-1"></i>Change Password</a>*@ <a href="@Url.Action("ChangePassword", "Account")" class="nav-link text-dark"><i class="fas fa-lock mr-1"></i>Change Password</a>
				</li>
				<li class="nav-item  border-bottom" id="profile">
					@*<a class="nav-link text-dark" href="#"><i class="fas fa-lock mr-1"></i>Upload CV</a>*@ <a href="@Url.Action("Index", "Document")" class="nav-link text-dark"><i class="fas fa-lock mr-1"></i>Upload CV</a>
				</li>
			</ul>
		</div>



		<div class="col-sm-9 alpha">

			<h3>Upload File</h3>
			@using (Html.BeginForm("Upload", "Document", FormMethod.Post, new { enctype = "multipart/form-data" }))
			{
				<input type="file" name="file" />
				<br /><br />
				<input type="submit" value="Upload" class="btn btn-primary" />


			}

			<h4>@ViewBag.Msg</h4>
		</div>


	</div>

</div>